html, body{
	background-color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
}

div#page{
	width: 780px;
	margin: 0px auto 0px auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-height: 100%;
}
div#small_page{
	width: 300px;
	margin: 0px auto 0px auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-height: 100%;
}
div#sidebar{
	float:left;
	width: 120px;
}
div#main{
	float:right;
	width: 660px;
}
div#content{
	margin: 0px 0px 0px 0px;
}
div#header{
	height: 80px;
	text-align: right;
}

