html, body{
	font-family: Verdana, sans-serif, serif;	
	font-size: 10pt;
}
#headertext{
	font-family:Courier, sans-serif;	
	font-size: 24pt;
	color: #333;
	text-align: right;
	height: 20px;
	font-weight: bold;
	line-height: 23px;
}

.three{
	color: #763636;
	padding: 0px;
	margin: 0px;
}
#headertext a{
	text-decoration: none;
	color: #333;
	padding: 0px;
	margin: 0px;
}
#header h3{
	text-align: right;
	margin: 20px 0px 0px 0px;
	color: #990000;
	font-size: 14pt;
	font-weight: bold;
}


